<div class="timeline">
  {{ range site.Data.experience }}
    <div class="timeline-event">
      <div class="timeline-title">{{ .title }}</div>
      <div class="timeline-company">{{ .company }}</div>
      <div class="timeline-date">
        {{ with .start }}{{ . | dateFormat "Jan 2006" }}{{ end }} – 
        {{ with .end }}
          {{ if eq . "Present" }}
            Present
          {{ else }}
            {{ . | dateFormat "Jan 2006" }}
          {{ end }}
        {{ end }}
      </div>
      <div class="timeline-description">{{ .description }}</div>
    </div>
  {{ end }}
</div>