<div class="icon-wall">
  <h4 class="icon-wall-category-h4">Languages</h4>
  <div class="icon-wall-category">
    {{ range $key, $skill := site.Data.skills.skills }}
      {{ if eq $skill.category "Languages" }}
        {{ partial "skill-icon.html" (dict "skill" $key "iconClass" "icon" "site" $.Site) }}
      {{ end }}
    {{ end }}
  </div>

  <h4 class="icon-wall-category-h4">Frameworks</h4>
  <div class="icon-wall-category">
    {{ range $key, $skill := site.Data.skills.skills }}
      {{ if eq $skill.category "Frameworks" }}
        {{ partial "skill-icon.html" (dict "skill" $key "iconClass" "icon" "site" $.Site) }}
      {{ end }}
    {{ end }}
  </div>

  <h4 class="icon-wall-category-h4">Platform and Tools</h4>
  <div class="icon-wall-category">
    {{ range $key, $skill := site.Data.skills.skills }}
      {{ if eq $skill.category "PlatformTools" }}
        {{ partial "skill-icon.html" (dict "skill" $key "iconClass" "icon" "site" $.Site) }}
      {{ end }}
    {{ end }}
  </div>
  
  <h4 class="icon-wall-category-h4">Data Analysis & ML</h4>
  <div class="icon-wall-category">
    {{ range $key, $skill := site.Data.skills.skills }}
      {{ if eq $skill.category "DataML" }}
        {{ partial "skill-icon.html" (dict "skill" $key "iconClass" "icon" "site" $.Site) }}
      {{ end }}
    {{ end }}
  </div>

  <h4 class="icon-wall-category-h4">Developer Tools</h4>
  <div class="icon-wall-category">
    {{ range $key, $skill := site.Data.skills.skills }}
      {{ if eq $skill.category "DevTools" }}
        {{ partial "skill-icon.html" (dict "skill" $key "iconClass" "icon" "site" $.Site) }}
      {{ end }}
    {{ end }}
  </div>

  {{ $hasUncategorized := false }}
  {{ range $key, $skill := site.Data.skills.skills }}
    {{ if not $skill.category }}
      {{ $hasUncategorized = true }}
    {{ end }}
  {{ end }}

  {{ if $hasUncategorized }}
    <h4 class="icon-wall-category-h4">Other</h4>
    <div class="icon-wall-category">
      {{ range $key, $skill := site.Data.skills.skills }}
        {{ if not $skill.category }}
          {{ partial "skill-icon.html" (dict "skill" $key "iconClass" "icon" "site" $.Site) }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>
